.button-1{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    text-align: center;
    font-family: verdana;
    font-size: 13px;
    font-weight: 900;
    margin: auto;
    width: 140px;
    height: 100%;
    color: #0062cc;
    border: 1px solid grey;
    background: white;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.button-1:hover{
    box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24),0 17px 50px 0 rgba(255,255,255,0.19);
    background: #D3D3D3;
    border: 1px solid #505050;
    color: #0000a0;
}
.button-2{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    text-align: center;
    font-family: arial narrow;
    font-size: 30px;
    font-weight: 900;
    margin: auto;
    width: 290px;
    height: 100%;
    color: #0062cc;
    border: 1px solid grey;
    background: white;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.button-2:hover{
    box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24),0 17px 50px 0 rgba(255,255,255,0.19);
    background: #D3D3D3;
    border: 1px solid #505050;
    color: #0000a0;
}
.symbol{
    font-size: 30px;
}
.button-group{
    height: 50%;
    width: 300px;
    position: relative;
    top: 150px;
}
.buttons-container{
    padding: 20px;
    margin: auto;
    position: relative;
    top: 100px;
    width: 300px;
    height: 300px;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.profile{
    font-family: verdana;
    width: 250px;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 40px;
    text-align: left;
    color: white;
}
.profile h3{
    font-weight: 100;
}
.span{
    font-family: times bold;
    font-size: 25px;
}
.results{
    position: absolute;
    top: 550px;
    left: 640px;
}
